@import "../mixins.scss";

#app {
    @include pc {
        position: relative;
    }

    width: 100vw;
    height: 100vh;

    min-width: 100vw;
    min-height: 100vh;

    overflow-y: auto;

    &-form {
        @include mobile {
            padding-top: 20px;
        }
        
        @include pc {
            position: absolute;
            
            left: 50%;
            top: 50%;
            
            width: 100%;
            height: auto;

            max-width: 100%;
            max-height: 75vh;

            overflow-y: auto;

            @include transform(translate(-50%, -50%));

            &::-webkit-scrollbar {
                background: #ff1744;
                width: 8px;
            }
            
            &::-webkit-scrollbar-track {
                background: #333;
                border: none;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #ff1744;
                @include box-shadow(2px 2px 10px #ff1744);
            }
        }
        
        @include grid;
        
        &-selects {
            @include mobile {
                .app-form-selects-select {
                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                }
            }

            @include pc {
                display: table;
                table-layout: fixed;
                width: 100%;
                border-collapse: collapse;
    
                .app-form-selects-select {
                    display: table-cell;
                    width: auto;
    
                    >.form-select {
                        max-width: 300px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}