@import "../../mixins.scss";

.starwars-character {
    @include mobile {
        @media (min-width: 300px) and (max-width: 599px) {
            width: 100%;
        }

        @media (min-width: 600px) {
            width: 50%;
        }
    }
    
    @include pc {    
        width: 33%;
    }

    display: inline-block;
    vertical-align: top;

    padding-top: 60px;

    &-content {
        max-width: 200px;
        margin: 0 auto;
        
        @include box-shadow(0 0 15px rgba(#fff, 0.8));
        
        &-picture {
            >img {
                width: 100%;

                @include user-select(none);
            }
        }
        
        &-details {
            background: #eee;
            color: #444;
            font-family: sans-serif;
            padding: 15px 10px;

            &-name {
                font-size: 2rem;
                font-weight: 600;
            }
        
            &-movie {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}