@import "./mixins.scss";

// Default styling for all elements
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;

    @include selection {
        background: #ff1744;
        color: #fff;
    }
}

// Default styling for buttons
button {
    background: none;
    border: none;

    // Remove outline for buttons
    &:focus {
        outline: 0;
    }
}

// Default styling for html, body
html, body {
    font-size: 10px;

    >* {
        overflow-x: hidden;
    }

    // Set the default height to 100% so relative children can use these values
    width: 100%;
    height: 100%;

    background: white;
}